{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New File{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
	<form hx-post={{url_for('blog.keyword_search')}} hx-target="#stories"
		  				hx-trigger="submit"
						hx-swap="outerHTML">
			{{ search_form.csrf_token }}
			{{ search_form.kudos_start.label }}<br>
			{{ search_form.kudos_start(class="form-control") }} - {{ search_form.kudos_end(class="form-control") }}<br>
			{{ search_form.fandoms.label }}
			{{ search_form.fandoms(class="form-control" }}
			{{ search_form.word_count_start.label }}<br/>
			{{ search_form.word_count_start(class="form-control") }} - {{ search_form.word_count_end(class="form-control") }}<br/>
 			{{ search_form.rating.label }}
			{{ search_form.rating(class="form-control") }}<br>
			{{ search_form.submit(class="btn btn-primary") }}<br><br>

	</form>

			<div id="stories">

			</div>
    </div>
<!--	<div class="mt-5">-->
<!--	  <form method="post" action="{{ url_for('blog.voices') }}" >-->
<!--		<input type="submit" value="reload voices" name="updated_voices" value="1" >-->
<!--	  </form>-->
<!--	</div>-->

{% endblock %}