{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Recent Episodes{% endblock %}</h2>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article>
      <div class="container text-start">
      <header>
        <div>
          <h2>
            <a href="{{ url_for('blog.post_page', id=post['id']) }}">
                {{ post['title'] }}
            </a>

          </h2>
          <div class="about">{{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <p class="body text-start">{{ post['body']|safe }}</p>
      <p><a href="https://ytpod.cobiadigital.com/{{ post['audio']}}">{{ post['audio']}}</a></p>

      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}