{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
 		<form method="post">
			{{ form.csrf_token }}
			{{ form.title.label }}<br>
			{{ form.title(class_="form-control")}}<br>
			{{ form.slug.label }}<br>
			{{ form.slug(class_="form-control")}}<br><br>
			{{ form.body.label }}<br>
			{{ form.body(class_="form-control") }}
			<br><br>
			{{ form.voice.label }}<br>
			{{ form.voice(class_="form-control")}}<br>
		{{ form.submit }}
		</form>
    </div>
  <form method="post" action="{{ url_for('blog.voices') }}">
    <input type="submit" value="Update Voices" name="updated_voices" value="1" >
  </form>
	{{ ckeditor.load() }}
	{{ ckeditor.config(name='body') }}
{% endblock %}